# ignore the envireonment files
venv/

# ignore the compiled python files
__pycache__/
*.pyc
*.pyo



# ignore the logs
*.logs

# ignore the IDE/Editor configurations
.idea/

*.swp

# ignore the staticfiles
/staticfiles/